---
layout: default
title: William Ruzvidzo - Digital Marketer // Content Writer // Self-Taught Coder
description: In a nutshell, I write, I code, I market. Those are my three passion points. Over the past 5 years, I've created content and have developed and implemented online marketing campaigns for some pretty awesome brands.


---
<html class ="">
<head>

  <title>{{ site.data.settings.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
<body>

{% include about.html %}
{% include contact.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>
