<img src="/images/7543.jpg" class='img-responsive' alt="me">

<h3 class="mytitle">Content Marketer // Digital Nomad // Sun Chaser</h3>

<hr class="style17">

<br>

<p class="bio"> Said goodbye to the 9-to-5 <a href="http://williamruz.com/blog/Why-Being-Laid-Off-Was-The-Best-Thing-That-Happened-To-Me/" target="_blank">grind</a> two years ago, and haven’t looked back.
Now focused on building my <a href="https://www.linkedin.com/in/williamruzvidzo/" target="_blank">empire</a> and seeking out new <a href="https://www.instagram.com/digitalnomaddiary/" target="_blank"> adventures.</p>
<br>

<hr class="style17">
