<img src="/images/7543.jpg" class='img-responsive' alt="me">

<h3 class="mytitle">Digital Marketer // Content Writer // Self-Taught Coder</h3>

<hr class="style17">

<br>

<p class="bio"> In a nutshell, I write, I code, I market. Those are my three passion points. Over the past 5 years, I've created content and have developed and implemented online marketing campaigns for some pretty awesome <a href="https://www.linkedin.com/in/williamruzvidzo" target="_blank">brands</a>.</p>

​<p class="bio"> I live in Toronto, Canada and I'm always exploring new ideas and technologies. I'm currently teaching myself how to code and that's how this website came about. My profession and my experience as a self-taught coder keeps me abreast of the latest trends in design, marketing and web development.</p>

<p class="bio"> Feel free to browse through my <a href="http://williamruz.com/blog/" target="_blank">articles</a> or connect with me through one of the yellow links below. </p>

<br>

<hr class="style17">
