<!DOCTYPE html>
<html>
<body>
  <div class="footer">
      <p class="sm">
       <div class="text-center">
         <p3 id="footer-line">Let's connect. Get in touch with me through any of the links below.</p>
  <div class="social">
    <div class="social-links">
      <a href="https://twitter.com/will_ruz" target="_blank" class="icon-twitter"></a>
        <a href="https://ca.linkedin.com/in/williamruzvidzo" target="_blank" class="icon-linkedin"></a>
            <a href="https://www.instagram.com/mybestremotelife/" target="_blank" class="icon-instagram"></a>
              <a href="mailto:william1.ruz@gmail.com" class="icon-envelope"></a>
              <p id="pageinfo">Website design, content and development by William Ruzvidzo.</p>
              <p id="copyright">Copyright {{ site.time | date: '%Y' }}</p>
                </div>
                  </div>
                  </div>
                  </div>
                </body>
                </html>
