<div class="footer">
      <p class="sm">
       <div class="text-center">
         <p3 id="footer-line">If you’d like to get in touch, feel free to say hello through any of the social links below.</p>
  <div class="social">
    <div class="social-links">
      <a href="https://twitter.com/will_ruz" target="_blank" class="icon-twitter"></a>
        <a href="https://ca.linkedin.com/in/williamruzvidzo" target="_blank" class="icon-linkedin"></a>
          <a href="https://medium.com/@william_ruz" target="_blank" class="icon-medium"></a>
            <a href="https://www.instagram.com/iamwill.r/" target="_blank" class="icon-instagram"></a>
              <a href="https://codepen.io/willruz/" target="_blank" class="icon-codepen"></a>
              <a href="https://github.com/WilliamRuz" target="_blank" class="icon-github"></a>
              <a href="mailto:william1.ruz@gmail.com" class="icon-envelope"></a>
              <p id="pageinfo">Website design, content and development by William Ruzvidzo.</p>
              <p id="copyright">Copyright {{ site.time | date: '%Y' }}</p>
                </div>
                  </div>
                  </div>
                  </div>
